@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$ff: 'Open Sans', sans-serif;
$fz: 22px;
$color-main: #5f5f62;
$bg-table-header: #999999;
$bg-table-row: #e8eaf5;
$bg-icon-main: #7a7a7a;
$bg-icon-task: #616161;